.container {
  composes: container from "../../css/layout.css";
}

.ytEmbed {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.ytEmbed iframe {
  position: absolute;
  top: 0;
  left: 0;
}
