.container {
  margin: auto;
  max-width: 900px;
  padding: 0 1.5rem;
}

.heroTitle {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 0;
}

.iconBullet {
  opacity: 0.6;
  width: 2rem;
  flex: 0 0 auto;
  width: 3rem;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.flexCenter {
  composes: flex;
  align-items: center;
}

.row {
  composes: flex;
  padding: 1rem;
  z-index: 3;
}

.col {
  box-sizing: border-box;
  padding: 0.1rem 0.1rem;
  flex: 1 0 33.333%;
  display: flex;
  justify-content: center;
}

.timelineTitle {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0.2rem;
}

.timelineSubtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  opacity: 0.6;
}

@media (max-width: 576px) {
  .bigEventCard {
    border-radius: 0;
    box-shadow: none;
  }

  .cardContainer {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .timelineTitle {
    font-size: 0.875rem;
  }

  .timelineSubtitle {
    font-size: 0.8125rem;
  }
}
