.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
  width: 100%;
}

.ytEmbed {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.ytEmbed iframe {
  position: absolute;
  top: 0;
  left: 0;
}
