:root {
  --dark: rgb(54, 54, 51);
  --gray: #e4e4e4;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  line-height: inherit;
}

body {
  margin: 0;
  color: var(--dark);
  background-color: var(--gray);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:global(#root) {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  border-bottom: 2px dotted rgba(54, 54, 54, 0.3);
  text-decoration: unset;
  color: unset;
  transition: border-bottom 0.2s ease;
}

a:hover {
  border-bottom: 2px solid var(--dark);
}

a:visited {
  color: unset;
}
